body {

background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

container{
  text-align: center;
}


.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 480px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.friend-finder-img {
  bottom: 2%
}

/*
#mainPic1 {
 background: transparent;
   height: 200px;
    width: fixed%;
    
}

#mainPic2 {
    margin-bottom: 325px;
    background: transparent;
    width: fixed%; 
}
    

#mainPic3 {
    margin-bottom: 500px;
 background: transparent;
    width: fixed%; 
}
*/

.about-text {
    font-size: 30px;
    color: white;
}

#about-img {
    opacity: .4
}

#icon {
    
    color: gold;
    text-shadow: 1px 1px 1px #ccc;
    letter-spacing: 150px;
}

#building {
    opacity:.01;
}

.work-text{
    color:white;
    
}



@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
