body {

background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

container{
  text-align: center;
}


.sidenav-trigger {
  color: gold;
}



.parallax-container {
  min-height: 480px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 90%;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.friend-finder-img {
  bottom: 2%
}

.about-text {
    font-size: 30px;
    color: white;
}

#about-img {
    opacity: .4
}

#icon {

    color: gold;
    text-shadow: 1px 1px 1px #ccc;
    letter-spacing: 150px;
}

#building {
    opacity:.01;
}

.work-text{
    color:white;

}

.le-burger-img {
top: 500px;
}



@media only screen and (max-width : 480px) {
  body {
   padding: 5px;
  }

  .navbar-fixed {
    position: fixed;
  }

  .parallax-container {
    min-height: 240px;
    min-width: 375;
 
    line-height: 0;
    height: auto;
    width: auto;
    color: rgba(255,255,255,.9);
    padding: 10px;
  }

  .contact-links {
    margin-left: 90px;
  }

    img {
   width: 100%;
    height: auto;

  }
  #mainPic1, #mainPic3 {
    display: none
  }
  .fas fa-link fa-2x {
    size: 10px;
  }
  i {
    size: 10%;
  }


}



@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
